:root {
  --keen-slider-scrollbar--thumb-color: #cbcbcb;
  --keen-slider-scrollbar--track-color: #f8f8f8;
  --keen-slider-scrollbar--padding: 0px;
  --keen-slider-scrollbar--left: 0px;
  --keen-slider-scrollbar--right: 0px;
  --keen-slider-scrollbar--width: 100%;
  --keen-slider-scrollbar--height: 5px;
  --keen-slider-scrollbar--opacity: 1;
  --keen-slider-scrollbar--mt: 2rem;
  --keen-slider-scrollbar--mb: 2rem;
  --keen-slider-scrollbar--ml: 2rem;
  --keen-slider-scrollbar--mr: 2rem;
  --keen-slider-scrollbar--border-radius: 1000rem;
  --keen-slider-scrollbar--total-slides: 2;
}

keen-slider-scrollbar {
  display: block;
  width: var(--keen-slider-scrollbar--width);
  height: var(--keen-slider-scrollbar--height);
  border-radius: var(--keen-slider-scrollbar--border-radius);
  cursor: pointer;
  position: relative;
  opacity: var(--keen-slider-scrollbar--opacity);
  transition: opacity 300ms ease;
  box-sizing: border-box;
}

keen-slider-scrollbar[is-vertical="false"] {
  --keen-slider-scrollbar--width: 100%;
  --keen-slider-scrollbar--height: 5px;
  margin-top: var(--keen-slider-scrollbar--mt);
  margin-bottom: var(--keen-slider-scrollbar--mb);
}

keen-slider-scrollbar[is-vertical="true"] {
  --keen-slider-scrollbar--height: 100%;
  --keen-slider-scrollbar--width: 5px;
  margin-left: var(--keen-slider-scrollbar--ml);
  margin-right: var(--keen-slider-scrollbar--mr);
}

keen-slider-scrollbar[is-hidden="true"] {
  --keen-slider-scrollbar--opacity: 0;

  visibility: hidden;
}

keen-slider-scrollbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--keen-slider-scrollbar--track-color);
  border-radius: var(--keen-slider-scrollbar--border-radius);
  top: 0;
  box-sizing: border-box;
}

keen-slider-scrollbar .keen-slider-scrollbar__thumb {
  display: block;
  position: relative;
  background: var(--keen-slider-scrollbar--thumb-color);
  border-radius: var(--keen-slider-scrollbar--border-radius);
  box-sizing: border-box;
  z-index: 2;
}

keen-slider-scrollbar[is-vertical="false"] .keen-slider-scrollbar__thumb {
  left: 0;
  top: 50% !important;
  transform: translate3d(0, -50%, 0);
  max-width: calc(
    var(--keen-slider-scrollbar--width) /
      var(--keen-slider-scrollbar--total-slides)
  );
  width: 100%;
  min-width: 10%;
  height: 100%;
}

keen-slider-scrollbar[is-vertical="true"] .keen-slider-scrollbar__thumb {
  left: 50% !important;
  top: 0;
  transform: translate3d(-50%, 0%, 0);
  max-height: calc(
    var(--keen-slider-scrollbar--height) /
      var(--keen-slider-scrollbar--total-slides)
  );
  height: 100%;
  min-height: 10%;
  width: 100%;
}

keen-slider-scrollbar .keen-slider-scrollbar__breakpoints {
  z-index: 1;
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

keen-slider-scrollbar[is-vertical="false"] .keen-slider-scrollbar__breakpoints {
  grid-auto-rows: auto;
  grid-template-columns: repeat(
    var(--keen-slider-scrollbar--total-slides, 1),
    1fr
  );
}

keen-slider-scrollbar[is-vertical="true"] .keen-slider-scrollbar__breakpoints {
  grid-auto-columns: auto;
  grid-template-rows: repeat(
    var(--keen-slider-scrollbar--total-slides, 1),
    1fr
  );
}
